#course-form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#course-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    width: 50%;
    height: auto;
}

hr {
    width: 150vh;
    border: rgb(133, 133, 133) solid 1.5px;
}

.course-form {
    display: flex;
    flex-direction: column;
    width: 150vh;
}

.form-inputs {
    display: flex;
    flex-direction: column;
}

button#submit {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 7vh;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(118, 232, 118);
}

button#cancel {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 7vh;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(235, 66, 66);
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.invalid {
    border: 2px solid red;
}
  