.courseDescription {
    padding: 0px 100px 0px 100px;
}

.buttondiv {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 25px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.users-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.users-details {
    box-sizing: border-box; 
    width: calc(50% - 10px); 
}