#court-form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#court-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    width: 50%;
    height: auto;
}

hr {
    width: 150vh;
    border: rgb(133, 133, 133) solid 1.5px;
}

.court-form {
    display: flex;
    flex-direction: column;
    width: 150vh;
}

.dates-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#date {
    width: 500px;
    text-align: center;
}

.date-input {
    margin-left: 300px;
}

.time-slots {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.timeButton {
    background-color: #777777;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* button.click {
    background-color: #28a745; 
} */

form {
    width: 150vh;
}

.form-inputs {
    display: flex;
    flex-direction: column;
}

input, select {
    margin-top: 10px;
    margin-bottom: 10px;
}

button#submit {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 7vh;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(118, 232, 118);
}

button#cancel {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 7vh;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(235, 66, 66);
}

.invalid {
    border: 2px solid red;
}
  

