.forumcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 500px; /* Adjust based on your needs */
    border-radius: 5px; /* Optional: for rounded corners */
    overflow: hidden; /* Ensures content does not spill outside the border */
    padding: 20px;
    background-color: beige;
}

.user-details {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    padding: 10px;
}

.user-image {
    /* Styles for the user image box */
    flex: 0 0 auto; /* Do not grow or shrink */
    width: 80px; /* Example width */
    height: 80px; /* Example height */
    border: 1px solid #ccc;
    margin-right: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start; /* Aligns the content to the top */
}


.user-name {
    /* Styles for the user name */
    font-weight: bold;
    margin-bottom: 10px;
    align-self: flex-start;
}

.user-info .user-name {
    margin-top: 0; /* Removes the default top margin from the h1 element */
}

.user-tag {
    background-color: #333; /* Dark background color */
    color: white; /* Light text color for contrast */
    padding: 5px 10px; /* Some padding */
    border: 1px solid #ccc;
    border-radius: 15px; /* Rounded corners */
    display: inline-block; /* For inline display */
    margin-right: 10px; /* Space between tags */
    font-size: 13px
  }


.post-actions {
    display: flex; /* Aligns child elements in a row */
    justify-content: space-between; /* Spaces out the children */
    gap: 10px; /* Optional: adds space between the buttons */
  }
  
  .action-button {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from link */
    display: inline-block; /* Ensure proper button alignment */
    width: 100%; /* Make the button fill the container */
  }
  
  /* Adjust the width of the buttons if needed */
  .action-button.upvote {
    flex-basis: 40%;
  }
  
  .action-button.full-post {
    flex-basis: 60%;
  }
  


  
