<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=0.5">
  <title>Website Survey</title>
  <link rel="stylesheet" href="http://localhost:3000/css/style.css"/>
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="bg-dark text-white" >
    
    <div class="front fullscreen d-flex flex-column align-items-center justify-content-center"> 
        <h1>Questionnaire</h1>
        <h3>by Group 27</h3>       
        <p style="font-size: xx-large;">Scroll down to continue</p>
      </div>
    </div>
  
    <div class = "website fullscreen d-flex flex-column align-items-center justify-content-center">
      <p id="description" style="text-align: center;">We're currently concentrating on this particular website. The used interface (UI) of the site is quite poor, characterized by 
        a cluttered and challenging layout when viewing posted listings. The lack of uniformity in design makes it appear disorganized, 
        with varying font sizes and colors that can be bothersome to users.
      </p>
      <h3><a href="https://www.arngren.net/"><b>https://www.arngren.net/</b></a></h3>
      <img id="websiteimg" src="http://localhost:3000/images/Arngren Main Page.png" alt="Arngren Main Page" class="center">         
    </div>
    
    <div class="container fullscreen">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <h1>Survey Questions</h1>
          <form method="POST" action="/"> 
            <div class="question1 mb-5">
              <legend for="question1" class="form-label">Q1: What do you think of the User Interface of Arngren? (in 5 words)</legend>
              <input type="text" name="description" class="form-control" id="question1" rows="3" required>
            </div>
            <fieldset class="question2 mb-5">
              <legend>Q2: Please evaluate the website's user interface on a scale of 1 to 5 points.</legend>
              <div class="mb-3 form-check">
                <label class="form-check-label" for="rating1">1</label>
                <input class="form-check-input" type="radio" id="rating1" name="ratings" value=1 required>
              </div>
              <div class="mb-3 form-check">
                <label class="form-check-label" for="rating2">2</label>
                <input class="form-check-input" type="radio" id="rating2" name="ratings" value=2 required>
              </div>
              <div class="mb-3 form-check">
                <label class="form-check-label" for="rating3">3</label>
                <input class="form-check-input" type="radio" id="rating3" name="ratings" value=3 required>
              </div>
              <div class="mb-3 form-check">
                <label class="form-check-label" for="rating4">4</label>
                <input class="form-check-input" type="radio" id="rating4" name="ratings" value=4 required>
              </div>
              <div class="mb-3 form-check">
                <label class="form-check-label" for="rating5">5</label>
                <input class="form-check-input" type="radio" id="rating5" name="ratings" value=5 required>
              </div>
            </fieldset>
            <div class="question3 mb-5">
              <legend for="numberOfColors" >Q3: How many different colours do you see on this User Interface?</legend>
              <select class="form-select" id="numberOfColors" name="numOfColors" required>
                <option selected value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
                <option value="6">Six</option>
                <option value="7">Seven</option>
                <option value="8">Eight</option>
              </select>
            </div>
            <div class="question4 mb-5">
              <legend>Q4: Please check all the issues you have encountered with the website's user interface:</legend>
              <div class="form-check">
                <input class="form-check-input" name="issues" type="checkbox" value="Confusing Navigation" id="check1" required>
                <label class="form-check-label" for="check1">Confusing Navigation:</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="issues" type="checkbox" value="Cluttered Layout" id="check2" required>
                <label class="form-check-label" for="check2">Cluttered Layout:</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="issues" type="checkbox" value="Unappealing Design" id="check3" required>
                <label class="form-check-label" for="check3">Unappealing Design:</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="issues" type="checkbox" value="Poor Responsiveness" id="check4" required>
                <label class="form-check-label" for="check4">Poor Responsiveness:</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="issues" type="checkbox" value="Inefficency Search Functionality" id="check5" required>
                <label class="form-check-label" for="check5">Inefficency Search Functionality:</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="issues" type="checkbox" value="Difficulty Accessing Information" id="check6" required>
                <label class="form-check-label" for="check6">Difficulty Accessing Information:</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="check7" required>
                <label class="form-check-label" for="check7">Others (Please Specify):</label>
                <textarea class="form-control" id="others" rows="3"></textarea>
              </div>
            </div>
            <div class="question5 mb-5">
              <legend for="comments">Q5: Suggests Improvements</legend>
              <textarea name="improvements" class="form-control" id="comments" rows="3" required></textarea>
            </div>
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
          </form>
          <p id="signature">Site created by Group 27</p>	
        </div>
      </div>
    </div>
    


</body>
</html>
