html {
    scroll-behavior: smooth;
}

/* Custom styles for full height */
.full-height {
    min-height: 100vh; /* 100% of the viewport height */
    background-size: cover;
    background-position: center;
}

#section1 {
    background-image: url("images/women.jpg");
    color: white; /* Ensuring text is visible on light backgrounds */
}

#welcomeMessage {
    font-size: 40px;
    font-weight: 600;
    color: #f6efef;
    white-space: pre-wrap;
    margin-top: 20vh;
    margin-left: 100px;
    margin-right: 100px;
}

#section2 {
    display: flex;
    justify-content: center;
    background-image: url("images/blackBackground.jpg");
    color: white; /* Ensuring text is visible on dark backgrounds */
}

#section3 {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black; /* Ensuring text is visible on dark backgrounds */
}

#section4 {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white; /* Ensuring text is visible on dark backgrounds */
}

#section5 {
    background-image: url("images/scissors.jpg");
    color: white; /* Ensuring text is visible on light backgrounds */
}

.nav-link {
    color: white;
    font-size: 30px;
}

.nav-link:hover {
    text-decoration: underline;
    color: white;
}

.navbar-brand {
    color: white;
    font-size: 30px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.navbar-brand img {
    max-height: 150px;
    width: auto;
    object-fit: contain;
}

nav {
    height: 100px;
    width: auto;
    background-color: white;
}

.card-text, .card-title{
    color: white;
}

.card-body {
    background-color: rgb(17, 17, 17);
}

.card {
    border-color: black
}

.fit-image {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.black-square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px 20px;
    /* align-items: flex-start; */
    background-color: black;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); */
    min-width: 700px; /* Adjust based on your preference */
    min-height: 400px; /* Making the div square */
    color: white; /* Ensures text and inputs labels are visible */
}
  /* Optional: Styles for the form inputs to make them stand out */
.black-square input, .black-square textarea, .black-square select {
    background-color: #333;
    border: 1px solid #666;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}