header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* Style the links on hover */
nav ul li a:hover {
    color: #ff4500; /* Change to your desired hover color */
}