/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

select {
  font-size: x-large;
  width: 200px;
  height: 40px;
}

.breadcrumb {
  padding: 0px 16px;
  list-style: none;
  background-color: #ffffff;
}

.breadcrumb li {
  display: inline;
  font-size: x-large;
}

.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "\27A3";
}

ul.breadcrumb li a {
  color: #818181;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}