/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the navbar */
header {
  background-color: #ecbb7a;
  padding: 10px 0;
}

nav ul {
  text-align: left;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

/* nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
} */

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: x-large;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ffffff;
}

Create an active/current tablink class
.tab button.active {
  background-color: #ffffff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

select {
  font-size: x-large;
  width: 200px;
  height: 40px;
}